*.o
*.obj
*.so
*.dylib
*.dll
*.lib
*.a
*.exe
*.out
*.app
*.dSYM/
*.stackdump
*.log
*.tmp
*.cache
*.pid
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/
Debug/
Release/
.vscode/
*.vcxproj*
*.vcproj*
*.sln
*.gch
*.pch
.DS_Store
